<div class="mat-elevation-z3 form-size">

    <h3>AGENDA 2030</h3>

    <p>
        A Agenda 2030 é um plano de ação para as pessoas, o planeta e a prosperidade, que busca fortalecer a paz
        universal. O plano indica 17 Objetivos de Desenvolvimento Sustentável, os ODS, e 169 metas, para erradicar a
        pobreza e promover vida digna para todos, dentro dos limites do planeta. São objetivos e metas claras, para que
        todos os países adotem de acordo com suas próprias prioridades e atuem no espírito de uma parceria global que
        orienta as escolhas necessárias para melhorar a vida das pessoas, agora e no futuro.
        <br><br>
        Este é um plano para governos, sociedade, empresas, academia e para você.
    </p>

    <h3>NOSSO PAPEL</h3>

    <p>
        Somos uma ONG especializada em distribuição e disponibilização de água potável e saneamento básico para
        população de qualquer lugar do Brasil. Apesar de sermos totalmente apoiadores de todos os planos da Agenda 2030,
        nosso principal foco é assegurar a disponibilidade e a gestão sustentável da água e do
        saneamento para todos.

        <br><br>

        A escassez de água afeta mais de 40% da população mundial, número que deverá subir ainda mais como resultado da
        mudança do clima e da gestão inadequada dos recursos naturais. É possível trilhar um novo caminho que nos leve à
        realização deste objetivo, por meio da cooperação internacional, proteção às nascentes, rios e bacias e
        compartilhamento de tecnologias de tratamento de água.

        <br><br>

        Com esse retrospecto em mente, buscamos solucionar o Objetivo de número 6 dos 17 planos existentes na Agenda
        2030, e, através da nossa plataforma identificar regiões que ainda não possuem água potável ou saneamento
        básico.

        <br><br>
        
        <img src="./../../assets/obj6.png" class="img1">

        <br><br>

        Após o pedido aprovado, redirecionaremos grande parte dos nossos voluntários para essa região para envio
        e disponibilidade de água potável, além de reuniões com a prefeitura da cidade em questão para assegurar o saneamento básico.
        
        <br><br>

        Para cadastrar sua região na nossa plataforma <button routerLink="/solicitar-revisao" class="btn btn-outline-dark btn-sm">Clique aqui</button>
    </p>

</div>