.form-size{
    width: 85%;
    margin-left: 7.5%;
    padding: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-size h3{
    text-align: center;
}

.img1{
    width: 300px;
    height: 300px;
    margin-left: 35%;
}